* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
#cabecalho {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vh;
    background-color: #f5f5f5;
    position: relative;
}

.img {
    margin-right: auto;
}

.links-list {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.link-item a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.link-item a:hover {
    background-color: #316EB5;
    color: #fff;
    border-radius: 5px;
}

.img-logo {
    max-width: 20vh;
    max-height: 20vh;
    width: auto;
    height: auto;
}

/* Estilos para a seção de conteúdo 1 */
#conteudo-1 {
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vh;
}

.texto-quemsomos {
    max-width: 50%;
}

.texto-quemsomos h1 {
    color: #316EB5;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 15vh;
}

.texto-p p {
    color: #303030;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
}

.img-quemsomos img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a seção de conteúdo 2 */
#conteudo-2 {
    text-align: center;
    padding: 5vh 10vh;
    background-color: #f4f4f4;
}

#time h1 {
    color: #316EB5;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.perfil {
    width: calc(33.33% - 20px);
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.perfil img {
    width: 100%;
    height: auto;
}

.descPerfil {
    padding: 20px;
}

.descPerfil h2 {
    color: #316EB5;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.descPerfil h3 {
    color: #3e3e59;
    font-size: 1em;
    margin-bottom: 10px;
}

.descPerfil .github-link {
    color: #316EB5;
    text-decoration: none;
    transition: color 0.3s;
}

.descPerfil .github-link:hover {
    color: #254c85;
}

/* Estilos para o rodapé */
#rodape {
    height: 100px;
    background-color: #316EB5;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-icon {
    width: 35px;
    height: 35px;
}

#rodape p {
    color: #fff;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    /* Estilos para telas menores que 768px */
    #cabecalho {
        padding: 0 5vw;
    }

    .texto-quemsomos {
        max-width: 100%;
        padding-right: 10px;
    }

    .img-quemsomos {
        width: 50%;
        margin-top: 5%;
    }

    .img-quemsomos img {
        max-width: 80%;
    }

    #conteudo-1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    #conteudo-2 {
        padding: 5vh 5vw;

    }

    #fotos {
        flex-direction: column;
        align-items: center;
    }

    .perfil {
        width: 80%;
        margin-bottom: 20px;
    }

    /* Redimensiona as imagens dos perfis */
    .perfil img {
        width: 60%;
    }
}
