* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vh;
    background-color: #f5f5f5;
    position: relative;
}

.img {
    margin-right: auto;
}

.link-div {
    display: flex;
    align-items: center;
}

.links-list {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.link-item a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.link-item a:hover {
    background-color: #316EB5;
    color: #fff;
    border-radius: 5px;
}

.img-logo {
    display: flex;
    max-width: 20vh;
    max-height: 20vh;
    width: auto;
    height: auto;
}

#img-div {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

#rodape {
    height: 100px;
    position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #316EB5;
  padding: 10px 0;
  text-align: center;
  margin-top: 7%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-icon {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

#rodape p {
    color: #fff;
    text-align: center;
}

.texto-quemsomos {
    font-family: Arial, Helvetica, sans-serif;
    width: 38%;
    margin-top: 8%;
    float: left;
  }

  .titulo{
    color: #316EB5;
    font-size: 1.9em;
    margin-bottom: 20px;
  }

  .texto-p{
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 60vw;
    margin-left: auto;
    text-align: justify;
  }
  
  .img-quemsomos {
    width: 60%;
    float: right;
    margin-top: 5%;
  }

  .img-quemsomos img {
    max-width: 50%;
    height: auto;
  }

  #conteudo-1 {
    margin-top: 50px;
    margin-left: 50vh;
  }


  #conteudo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    background-color: #f4f4f4;
    height: 60vh;
    box-shadow: inset 0 -0.8vh 2vh -1.3vh rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 80%;
}

#fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

#time {
    display: flex;
    color: #316EB5;
    margin: 1%;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 1.8vw;
}


.perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 45vh;
    background-color: #fff;
    box-shadow: 0 1vw 1.2vw 0 rgba(0, 0, 0, 0.062);
    border: 4px solid #316EB5;
    border-radius: 5%;
}

.perfil img {
    width: 14vw;
    height: auto;
}

.descPerfil {
    color: #282828;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.descPerfil h2 {
    font-size: 1.6vw;
}

.descPerfil h3 {
    color: #3e3e59;
    font-weight: 400;
    font-size: 1.1vw;
}

.descPerfil p {
    color: #5f6980;
    font-weight: lighter;
    font-size: 1.5vh;
}


@media screen and (max-width: 768px) {
    #conteudo-1 {
        margin-top: 20px;
        margin-left: 20vh;
    }
    
    #conteudo-2 {
        padding: 2vh;
        height: 50vh;
    }
    
    .perfil {
        width: 30vw;
        height: 30vh;
    }
    
    .descPerfil {
        padding: 0.5vw;
    }
    
    .descPerfil h2 {
        font-size: 1.2vw;
    }
    
    .descPerfil h3 {
        font-size: 0.9vw;
    }
    
    .descPerfil p {
        font-size: 1.2vh;
    }
}

@media screen and (max-width: 480px) {
    #conteudo-1 {
        margin-top: 10px;
        margin-left: 10vh;
    }
    
    #conteudo-2 {
        padding: 1vh;
        height: 30vh;
    }
    
    .perfil {
        width: 40vw;
        height: 20vh;
    }
    
    .descPerfil {
        padding: 0.2vw;
    }
    
    .descPerfil h2 {
        font-size: 0.8vw;
    }
    
    .descPerfil h3 {
        font-size: 0.6vw;
    }
    
    .descPerfil p {
        font-size: 0.8vh;
    }
}

.github-link {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.2em;
  }
  
  .github-link:hover {
    opacity: 0.8;
  }